<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Middleman</title>
    <link href="../stylesheets/site-a0595fb1.css" rel="stylesheet" />
  </head>
  <body class="wrapper">
    <section class="section-accomodations">
  <h2 class="section-title" style="left: -133px; top: 50px; margin: 0;">Riads</h2>

  <!-- Map -->
  <div id='map' style='height:440px;width:100%;'></div>

  <!-- Riad - Chez Darma -->
  <div class="riad-left" id="chezdarma">
    <div class="pic grid-picture">
      <a href="../images/chez-darma-2-29881df0.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="../images/chez-darma-1-474700d1.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Chez DarMa</i></span>
      </h3>
      <address>
        <a href="https://goo.gl/maps/vNjVbqmjxgM2">234 rue Chbanate | Medina</a>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="../images/chez-darma-3-71df769d.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
          <li>Capucine Cusinberche</li>
          <li>Jessica Scianimanica</li>
          <li>Rébecca Ménat</li>
          <li>Sandrine Ayral</li>
          <li>Tatiana Perillo</li>
          <li>Cédric Menteau</li>
          <li>Dimitri Bosch</li>
          <li>Edouard Foussier</li>
          <li>Guillaume Morin</li>
          <li>Julien Da Silva</li>
          <li>Sébastien Saunier</li>
      </ul>
    </div>
  </div>

  <!-- Riad - Dar Nafoura -->
  <div class="riad-right" id="darnafoura">
    <div class="pic grid-picture">
      <a href="../images/dar_nafoura_1-b5b49e59.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="../images/dar_nafoura_2-7aefa467.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Dar Nafoura</i></span>
      </h3>
      <address>
        <a href="https://goo.gl/maps/EPf3TogcyN22">30 rue Ibn Khaldoun</a>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="../images/dar_nafoura_3-ce9c067e.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
          <li>Alice Clavel</li>
          <li>Alice Morin</li>
          <li>Claire Counilh</li>
          <li>Clara Morgeneyer</li>
          <li>Juliette Sanson</li>
          <li>Karine Bialobroda</li>
          <li>Benjamin Bignon</li>
          <li>Boris Paillard</li>
          <li>Charly Martin</li>
          <li>Edward Schults</li>
          <li>Germain Loret</li>
          <li>Kevin Robert</li>
          <li>Manu Louisy-Gabriel</li>
          <li>Philipp v. Hammerstein</li>
          <li>Romain Paillard</li>
          <li>Thibault Pedelhez</li>
          <li>Thomas Blanchet</li>
          <li>Yoann Saunier</li>
      </ul>
    </div>
  </div>

  <!-- Riad - Anaissouira -->
  <div class="riad-left" id="anaissouira">
    <div class="pic grid-picture">
      <a href="../images/anaissouira-3-8b232586.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="../images/anaissouira-1-b8381adc.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Anaissouira</i></span>
      </h3>
      <address>
        <a href="https://goo.gl/maps/2s2q9z3FWCQ2">30 rue Sidi Ali Ben Daoud</a>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="../images/anaissouira-2-73191661.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
          <li>Alex Benoit</li>
          <li>Arthur Littman</li>
          <li>Benjamin Baranger</li>
          <li>Edward Ward</li>
          <li>Evan Thomas</li>
          <li>Jamie Walden</li>
          <li>Phelim Dunleavy</li>
      </ul>
    </div>
  </div>

  <!-- Riad - Lalla Zina -->
  <div class="riad-right" id="lallazina">
    <div class="pic grid-picture">
      <a href="../images/lalla-zina-1-0fa9a796.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="../images/lalla-zina-3-06eaae2e.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Lalla Zina</i></span>
      </h3>
      <address>
        <a href="https://goo.gl/maps/4vQiKd7CjbB2">17 Rue d'Agadir</a>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="../images/lalla-zina-2-cfacfe0f.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
          <li>Cécile Veneziani</li>
          <li>Marie-Gabrielle Ayoub</li>
          <li>Pauline Gaget</li>
          <li>Antoine Ayoub</li>
          <li>Fernando Americano</li>
          <li>Francesco Ecclesie</li>
          <li>Gabriel Dehan</li>
          <li>Guillaume Cabanel</li>
          <li>Guillaume Schwaederle</li>
          <li>Martin Giannakopoulos</li>
          <li>Mathieu Le Roux</li>
          <li>Nicolas Filzi</li>
          <li>Pierre Facq</li>
      </ul>
    </div>
  </div>

  <!-- Riad - Le Consulat -->
  <div class="riad-left" id="leconsultat">
    <div class="pic grid-picture">
      <a href="../images/le-consulat-1-01fe9b70.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="../images/le-consulat-3-8a5ff677.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>Le Consulat</i></span>
      </h3>
      <address>
        <a href="https://goo.gl/maps/qi6zmPcwJv22">74 rue Touahen | Medina</a>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="../images/le-consulat-2-29379fb4.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
          <li>Emily Burns</li>
          <li>Hanae Bezad</li>
          <li>Shannon Graybill</li>
          <li>Allen Sanchez</li>
          <li>Douglas Berkley</li>
          <li>Dounan Hu</li>
          <li>Paul Gaumer</li>
          <li>Thibault Genaitay</li>
      </ul>
    </div>
  </div>

  <!-- Riad - L'étoile d'Essaouira -->
  <div class="riad-right-long" id="etoileessaouira">
    <div class="pic grid-picture">
      <a href="../images/etoile-essaouira-1-cbc3a747.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="pic-xs-1 grid-picture">
      <a href="../images/etoile-essaouira-2-e2be73a0.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="riad">
      <h3>
        <span>Riad<br><i>L'étoile d'Essaouira</i></span>
      </h3>
      <address>
        <a href="https://goo.gl/maps/37n97FrU3dm">2 rue qadisiya</a>, Essaouira 44000, Morocco
      </address>
    </div>
    <div class="pic-xs-2 grid-picture">
      <a href="../images/etoile-essaouira-3-aa6ccf41.jpg" class="progressive replace">
        <img src="" class="preview" />
      </a>
    </div>
    <div class="names">
      <h3>Who's in?</h3>
      <ul class="list">
          <li>Ana Sere</li>
          <li>Claire Antoine</li>
          <li>Ellyn Bouscasse</li>
          <li>Margo Tinawi</li>
          <li>Morgan Di Via</li>
          <li>Alban Porcheron</li>
          <li>Bertrand Bussac</li>
          <li>Charles Pernet</li>
          <li>Clément Meyer</li>
          <li>Daniel Gordon</li>
          <li>Gabriel de Vareilles</li>
          <li>Hadrien Martinge</li>
          <li>Joseph Blanchard</li>
          <li>Kévin Chavanne</li>
          <li>Killian Avocat-Benan</li>
          <li>Mathieu Bonfils</li>
          <li>Matthieu Cartillier</li>
          <li>Nicolas Feer</li>
          <li>Pierre Bedouelle</li>
          <li>Rabea Bader</li>
          <li>Richard O'Grady</li>
          <li>Sylvain Peigney</li>
          <li>Yann Irbah</li>
          <li>Zakarya Kartti</li>
      </ul>
    </div>
  </div>
</section>
    <script src="../javascripts/site-15d4d864.js"></script>
    <script src="../javascripts/progressive-image-f70f7978.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWKncoyyJ5ffCrxghBR2JwpTCsAcl8qhA&callback=initMap" type="text/javascript"></script>
  </body>
</html>
