<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Le Wagon World Retreat</title>
    <meta name="description" content="">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">

    <!-- Open Graph FB -->
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://retreat.lewagon.com">
    <meta property="og:image" content="../images/meta-e4454671.jpg"/>
    <meta property="og:site_name" content="https://retreat.lewagon.com">

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lemangotree">
    <meta name="twitter:title" content="Le Wagon World Retreat">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@lewagonparis">
    <meta name="twitter:image:src" content="../images/meta-e4454671.jpg">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Le Wagon World Retreat">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="../images/meta-e4454671.jpg">

    <link href="../stylesheets/site-a0595fb1.css" rel="stylesheet" />
  </head>

  <body class="wrapper">
     <section class="section-trombi">
    <h2 class="section-title" style="left: -214px; top: 91px;">Le Wagon</h2>
    <div id="trombi">
        <h3>Belo Horizonte</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/american0" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Fernando</strong> Americano</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Berlin</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/aliceclv" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Alice</strong> Clavel</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/ClaraMorgen" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Clara</strong> Morgeneyer</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/db0sch" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Dimitri</strong> Bosch</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/PhilippvH1" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Philipp</strong> von Hammerstein</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/rjogrady21" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Richard</strong> O'Grady</span>
                  <i>Head of Marketing Automation</i>
                </div>
        </ul>
        <h3>Bordeaux</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/bertrandbussac" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Bertrand</strong> Bussac</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/charlespernet" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Charles</strong> Pernet</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/volpeo" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Sylvain</strong> Peigney</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Brussels</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/AnaDaks" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Ana</strong> Sere</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/DanielGordon1" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Daniel</strong> Gordon</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/EllynBsc" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Ellyn</strong> Bouscasse</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Margotte" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Margo</strong> Tinawi</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Casablanca</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/cantoine85" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Claire</strong> Antoine</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Beehane" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Hanae</strong> Bezad</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/zakaryaa" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Zakarya</strong> Kartti</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Chengdu</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/allenjsx" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Allen</strong> Sanchez</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Copenhagen</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/hmatringe" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Hadrien</strong> Matringe</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/atmosfeer" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Nicolas</strong> Feer</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Lille</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Meyclem" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Clément</strong> Meyer</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/GabrielVareilles" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Gabriel</strong> de Vareilles</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/l0ck3" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Yann</strong> Irbah</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Lisbon</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/emilykburns" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Emily</strong> Burns</span>
                  <i>Marketing Assistant</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/graysdays" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Shannon</strong> Graybill</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>London</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/alex-benoit" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Alex</strong> Benoit</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Arthur</strong> Littman</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/barangerbenjamin" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Benjamin</strong> Baranger</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/edwardjward" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Edward</strong> Ward</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Evanht" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Evan</strong> Thomas</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/chip1111" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Jamie</strong> Walden</span>
                  <i>Business dev (B2U)</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Jessicasciani" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Jessica</strong> Scianimanica</span>
                  <i>Marketing Assistant</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/pdunleav" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Phelim</strong> Dunleavy</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/sandrineay" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Sandrine</strong> Ayral</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Lyon</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/jpheos" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Joseph</strong> Blanchard</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/kevcha" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Kévin</strong> Chavanne</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/cartosnet" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Matthieu</strong> Cartiller</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Marseille</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/KillianAB" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Killian</strong> Avocat-Benan</span>
                  <i>Marketing Assistant</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/mathieub13" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Mathieu</strong> Bonfils</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/MorganDiVia" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Morgan</strong> Di Via</span>
                  <i>Community manager</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/PierreBedouelle" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Pierre</strong> Bedouelle</span>
                  <i>All things marketing</i>
                </div>
        </ul>
        <h3>Milan</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/fra0074" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Francesco</strong> Ecclesie</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Montréal</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/antoineayoub" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Antoine</strong> Ayoub</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/guillaumeschwaederle" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Guillaume</strong> Schwaederle</span>
                  <i>Bootcamp Manager</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/mariegabrielle" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Marie-Gabrielle</strong> Ayoub</span>
                  <i>Driver</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Martin-Alexander" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Martin</strong> Giannakopoulos</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Nantes</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/guillaumecabanel" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Guillaume</strong> Cabanel</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/nfilzi" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Nicolas</strong> Filzi</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Pedrolane" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Pierre</strong> Facq</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Paris</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Aporcheron" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Alban</strong> Porcheron</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/alicemomo" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Alice</strong> Morin</span>
                  <i>TA</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Benb1982" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Benjamin</strong> Bignon</span>
                  <i>Sales B2B</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Papillard" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Boris</strong> Paillard</span>
                  <i>CEO</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/CapucineC" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Capucine</strong> Cusinberche</span>
                  <i>Business dev (B2U)</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/cveneziani" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Cécile</strong> Veneziani</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/cedricmenteau" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Cédric</strong> Menteau</span>
                  <i>Jack of all trades</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/CharlyMartin" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Charly</strong> Martin</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/clairecou" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Claire</strong> Counilh</span>
                  <i>Yoga Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/edouardfoussier" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Edouard</strong> Foussier</span>
                  <i>Head of Community</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Eschults" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Edward</strong> Schults</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/ManyBaby" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Emmanuel</strong> Louisy-Gabriel</span>
                  <i>Filmer</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/gabriel-dehan" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Gabriel</strong> Dehan</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/grmnlrt" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Germain</strong> Loret</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/windguimo" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Guillaume</strong> Morin</span>
                  <i>CFO</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/juliends" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Julien</strong> Da Silva</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="../images/members/juliette-sanson-916d05df.jpg" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Juliette</strong> Sanson</span>
                  <i>Guest</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Karine03" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Karine</strong> Bialobroda</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/krokrob" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Kevin</strong> Robert</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Lupiane" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Pauline</strong> Gaget</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/rebrebm" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Rébecca</strong> Ménat</span>
                  <i>CMO</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/monsieurpaillard" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Romain</strong> Paillard</span>
                  <i>COO</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/ssaunier" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Sébastien</strong> Saunier</span>
                  <i>CTO</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/Tatianaprl" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Tatiana</strong> Perillo</span>
                  <i>Head of Talent</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/TPedelhez" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Thibault</strong> Pedelhez</span>
                  <i>Business dev (B2U)</i>
                </div>
              <li>
                <a href="../images/members/thomas-blanchet-6b4a287e.jpg" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Thomas</strong> Blanchet</span>
                  <i>Office Manager</i>
                </div>
              <li>
                <a href="../images/members/yoann-saunier-790647b7.jpg" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Yoann</strong> Saunier</span>
                  <i>Music Producer</i>
                </div>
        </ul>
        <h3>Saõ Paulo</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/matleroux" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Mathieu</strong> Le Roux</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Shanghai</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/dounan1" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Dounan</strong> Hu</span>
                  <i>Teacher</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/tgenaitay" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Thibault</strong> Genaitay</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Tokyo</h3>
        <ul>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/dmbf29" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Douglas</strong> Berkley</span>
                  <i>Community manager</i>
                </div>
              <li>
                <a href="https://kitt.lewagon.com/placeholder/users/paulgaumer" class="progressive replace">
                  <img src="" class="preview" />
                </a>
                <div class="details">
                  <span><strong>Paul</strong> Gaumer</span>
                  <i>Driver</i>
                </div>
        </ul>
    </div>
  </section>
    <script src="../javascripts/site-15d4d864.js"></script>
    <script src="../javascripts/progressive-image-f70f7978.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWKncoyyJ5ffCrxghBR2JwpTCsAcl8qhA&callback=initMap" type="text/javascript"></script>
  </body>
</html>
