<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Middleman</title>
    <link href="../stylesheets/site-fc07cd77.css" rel="stylesheet" />
  </head>
  <body class="wrapper">
     <section class="section-trombi">
    <h2 class="section-title" style="left: -214px; top: 91px;">Le Wagon</h2>
    <div id="trombi">
        <h3>Belo Horizonte</h3>
        <ul>
              <li>
                <img src="../images/members/fernando-americano-71035be2.jpg" alt="Fernando americano" />
                <div class="details">
                  <span><strong>Fernando</strong> Americano</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Berlin</h3>
        <ul>
              <li>
                <img src="../images/members/alice-clavel-494a574a.jpg" alt="Alice clavel" />
                <div class="details">
                  <span><strong>Alice</strong> Clavel</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/clara-morgen-605640c3.jpg" alt="Clara morgen" />
                <div class="details">
                  <span><strong>Clara</strong> Morgeneyer</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/dimitri-bosch-31943880.jpg" alt="Dimitri bosch" />
                <div class="details">
                  <span><strong>Dimitri</strong> Bosch</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/rich-ogrady-8963c2e2.jpg" alt="Rich ogrady" />
                <div class="details">
                  <span><strong>Richard</strong> O'Grady</span>
                  <i>Head of Marketing Automation</i>
                </div>
        </ul>
        <h3>Bordeaux</h3>
        <ul>
              <li>
                <img src="../images/members/bertrand-bussac-d7f87d11.jpg" alt="Bertrand bussac" />
                <div class="details">
                  <span><strong>Bertrand</strong> Bussac</span>
                  <i>Driver</i>
                </div>
              <li>
                <img src="../images/members/charles-pernet-0582b33d.jpg" alt="Charles pernet" />
                <div class="details">
                  <span><strong>Charles</strong> Pernet</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Brussels</h3>
        <ul>
              <li>
                <img src="../images/members/ana-sere-d86d33c6.jpg" alt="Ana sere" />
                <div class="details">
                  <span><strong>Ana</strong> Sere</span>
                  <i>Driver</i>
                </div>
              <li>
                <img src="../images/members/daniel-gordon-f78b566b.jpg" alt="Daniel gordon" />
                <div class="details">
                  <span><strong>Daniel</strong> Gordon</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Margo</strong> Tinawi</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Casablanca</h3>
        <ul>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Zakarya</strong> Kartti</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Chengdu</h3>
        <ul>
              <li>
                <img src="../images/members/allen-sanchez-652f5e62.jpg" alt="Allen sanchez" />
                <div class="details">
                  <span><strong>Allen</strong> Sanchez</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Copenhagen</h3>
        <ul>
        </ul>
        <h3>Lille</h3>
        <ul>
              <li>
                <img src="../images/members/clement-meyer-e97c370f.jpg" alt="Clement meyer" />
                <div class="details">
                  <span><strong>Clément</strong> Meyer</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Lisbon</h3>
        <ul>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Emily</strong> Burns</span>
                  <i>Marketing Assistant</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Shannon</strong> Graybill</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>London</h3>
        <ul>
              <li>
                <img src="../images/members/alex-benoit-b85697f9.jpg" alt="Alex benoit" />
                <div class="details">
                  <span><strong>Alex</strong> Benoit</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/arthur-littman-247fb676.jpg" alt="Arthur littman" />
                <div class="details">
                  <span><strong>Arthur</strong> Littman</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/benjamin-baranger-bd7dc451.jpg" alt="Benjamin baranger" />
                <div class="details">
                  <span><strong>Benjamin</strong> Baranger</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/" />
                <div class="details">
                  <span><strong>Edward</strong> Ward</span>
                  <i>Driver</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Jamie</strong> Walden</span>
                  <i>Business dev (B2U)</i>
                </div>
              <li>
                <img src="../images/" />
                <div class="details">
                  <span><strong>Jessica</strong> Scianimanica</span>
                  <i>Marketing Assistant</i>
                </div>
        </ul>
        <h3>Lyon</h3>
        <ul>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Kévin</strong> Chavanne</span>
                  <i>Teacher</i>
                </div>
        </ul>
        <h3>Marseille</h3>
        <ul>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Killian</strong> Avocat-Benan</span>
                  <i>Marketing Assistant</i>
                </div>
        </ul>
        <h3>Milan</h3>
        <ul>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Francesco</strong> Ecclesie</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Montréal</h3>
        <ul>
              <li>
                <img src="../images/members/antoine-ayoub-5ed02205.jpg" alt="Antoine ayoub" />
                <div class="details">
                  <span><strong>Antoine</strong> Ayoub</span>
                  <i>Driver</i>
                </div>
              <li>
                <img src="../images/members/marie-gabrielle-ayoub-5702b89d.jpg" alt="Marie gabrielle ayoub" />
                <div class="details">
                  <span><strong>Marie-Gabrielle</strong> Ayoub</span>
                  <i>Driver</i>
                </div>
        </ul>
        <h3>Nantes</h3>
        <ul>
        </ul>
        <h3>Paris</h3>
        <ul>
              <li>
                <img src="../images/members/alban_porcheron-70b6b30d.jpg" alt="Alban porcheron" />
                <div class="details">
                  <span><strong>Alban</strong> Porcheron</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/alice-morin-bc51a34b.jpg" alt="Alice morin" />
                <div class="details">
                  <span><strong>Alice</strong> Morin</span>
                  <i>TA</i>
                </div>
              <li>
                <img src="../images/members/benjamin-bignon-a5f87423.jpg" alt="Benjamin bignon" />
                <div class="details">
                  <span><strong>Benjamin</strong> Bignon</span>
                  <i>Sales B2B</i>
                </div>
              <li>
                <img src="../images/members/boris-paillard-cec8ba7e.jpg" alt="Boris paillard" />
                <div class="details">
                  <span><strong>Boris</strong> Paillard</span>
                  <i>CEO</i>
                </div>
              <li>
                <img src="../images/members/capucine-cusinberche-d730b07a.jpg" alt="Capucine cusinberche" />
                <div class="details">
                  <span><strong>Capucine</strong> Cusinberche</span>
                  <i>Business dev (B2U)</i>
                </div>
              <li>
                <img src="../images/members/cecile-veneziani-0be523a9.jpg" alt="Cecile veneziani" />
                <div class="details">
                  <span><strong>Cécile</strong> Veneziani</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/cedric-menteau-90ce326f.jpg" alt="Cedric menteau" />
                <div class="details">
                  <span><strong>Cédric</strong> Menteau</span>
                  <i>Jack of all trades</i>
                </div>
              <li>
                <img src="../images/members/claire-counilh-f9735b95.jpg" alt="Claire counilh" />
                <div class="details">
                  <span><strong>Claire</strong> Counilh</span>
                  <i>Yoga Teacher</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Edouard</strong> Foussier</span>
                  <i>Head of Community</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Emmanuel</strong> Louisy-Gabriel</span>
                  <i>Filmer</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Gabriel</strong> Dehan</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Germain</strong> Loret</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Guillaume</strong> Morin</span>
                  <i>CFO</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Julien</strong> Da Silva</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Karine</strong> Bialobroda</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Kevin</strong> Robert</span>
                  <i>Teacher</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Thibault</strong> Pedelhez</span>
                  <i>Business dev (B2U)</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Thomas</strong> Blanchet</span>
                  <i>Office Manager</i>
                </div>
              <li>
                <img src="../images/members/.jpg" alt=".jpg" />
                <div class="details">
                  <span><strong>Yoann</strong> Saunier</span>
                  <i>Music Producer</i>
                </div>
        </ul>
        <h3>Saõ Paulo</h3>
        <ul>
        </ul>
    </div>
  </section>
    <script src="../javascripts/site-b10e6751.js"></script>
    <script src="../javascripts/progressive-image-f70f7978.js"></script>
  </body>
</html>
