@import 'components/*';
@import 'vendors/*';

:root {
  --row-height: calc(100wh / 8);
}

body {
  position: relative;
  color: #333;
  font-family: "Avenir Next", sans-serif;
  padding: 0;
  margin: 0;
  background: #F6EEE1;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h2 {
  background: #333;
  display: inline-block;
  color: white;
  padding: 3px 5px;
  font-weight: 600;
}

h2.section-title {
  position: absolute;
  transform: rotate(-90deg);
  background: none;
  color: #e9ddcd;
  opacity: 1;
  text-transform: uppercase;
  font-size: 66px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    z-index: -1;
    border-left: 1px solid #e8e8e8;
    background: repeating-linear-gradient( -90deg, #e8e8e8, #e8e8e8 1px, #F6EEE1 1px, #F6EEE1 12.5%)
  }
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #e8ddcd;

  span {
    margin-right: 10px;
    font-size: 22px;
  }
}