<header>
  <div class="item-a"></div>
  <div class="item-b"></div>
  <div class="item-c">
    <%= image_tag 'logo.svg' %>
  </div>
  <div class="item-d"></div>
  <div class="item-e">
     <h1>
      <span>Le Wagon<br><i>World Retreat 2018</i></span>
    </h1>
  </div>
  <div class="item-f"></div>
  <div class="item-g">
    <i>Essaouira<br>26 - 29 June</i>
  </div>
</header>