<section class="section-introduction">
  <h2>A wee bit of history</h2>
  <article>
    <p>The 2018 world retreat of Le Wagon is happening in the laid-back little port of ancient Mogador, the coastal fortress builth in the 16th century by the Portuguese, that’s become a cultural hub for creatives, the surfers, the travelers and history lovers… the perfect meeting point for such a cosmopolitan crowd that will be bringing nothing less than 79 people from 16 cities and 11 countries!</p>
    <p>In the 19th century, Essaouira used to be Morocco’s biggest port, named “Port of Timbuktu” where goods like gold and spices came from Subsaharan Africa to be shipped to Europe and the Americas. To keep up the spirit, we, Le Wagon’s community will be sharing a whole bunch of golden tips so as to remain the hard-earned #1 coding school worldwide and thrive further.</p>
  </article>
</section>