<section class="tips">
  <h2>Shuttle</h2>
  <div class="warning" style="margin-top: 20px;">
    <span>⚠️</span>
    <p><strong>Arrival</strong> A shuttle will leave from <strong>Bab Doukkala station (Marrakesh) on Tuesday 26 at 2pm</strong>. (16 seats)</p>
  </div>
  <div class="warning" style="margin: 30px 0;">
    <span>⚠️</span>
    <p><strong>Departure</strong> A shuttle will leave from <strong>Essouira Clock Tower on Friday 29 at 9am</strong>. (16 seats)</p>
  </div>
  <div class="tips-wrapper">
    <div class="tips-category">
      <h3>Taxi</h3>
      <p>Many taxis are waiting behind the Bab Doukkala station. However, if your are on a short notice after your flight, we invite you to book one in advance.</p>
      <ul>
        <li><strong>Momo Taxi</strong><br><a href="tel:+212662131068">+212662131068</a></li>
        <li><strong>Med Taxi Essaouira</strong><br><a href="tel:+212661351793">+212661351793</a></li>
      </ul>
    </div>
    <div class="tips-category">
      <ul>
        <h3>Bus</h3>
        <li><p>Many bus companies are connecting Marrakesh to Essaouira. They usually offer a drive every half hour on the morning (and up to two hours on the afternoon).</p></li>
        <li><strong>ONCF</strong><br><%= link_to 'Book now', 'https://www.oncf.ma/' %></li>
        <li><strong>CTM</strong><br><%= link_to 'Book now', 'http://www.ctm.ma/' %></li>
      </ul>
    </div>
  </div>
</section>

<section class="content">
  <h2>Swiri magics</h2>
  <article>
    <p>While roaming around, you will be able to enjoy the Swiri architecture, with the fairy-tale battlements the color of honey and the bustling white-and-blue medina. The medina (literally “city” in Arabic) is a UNESCO world heritage stage, that provides a particularly relaxing atmosphere where you can mingle with the henna artists and artisans and browse their Berber baskets, colorful fabrics and other then thousands handicrafts.</p><p>Essaouira has unveiled the ateliers of its craftsmen located in the Sqala fortress, the 18th-century sea bastion that runs along the northern cliffs, where Orson Wells filmed most of Othello in 1949 and where Astapor scenes from Game of Thrones were shot. All year-long, the town hosts an array of music festivals, from the exuberant jazz and world music Alizés festival to the gypsy flamenco Atlantic festival or the Gnaoua Music Festival, also called the Woodstock of Morocco.</p><p>Even outside of festival time, you’ll hear Essaouira’s hypnotic pulses of gnaoua bands roaming around the city. Played on traditional instruments – bass drums, iron castanets and the lute-like guimbri – the mesmerizing rhythms of the Gnaoua were first developed by slaves brought to Morocco from sub-Saharan Africa.This tradition is well kept and passed-on from one Maâlem (literally “initiated” in Arabic) to another.</p>
  </article>
</section>