.section-accomodations {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-bottom: 60px;
}

.riad-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 160px 160px 160px;
  grid-template-areas:
    "pic pic riad riad riad riad"
    "pic pic names names names picsm1"
    ". picsm2 names names names .";
  margin-bottom: 80px;

  @media (max-width: 520px) {
    display: flex;
    flex-direction: column;
  }

  li {
    width: 50%;
  }
}

.riad-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 160px 160px 160px 160px;
  grid-template-areas:
    "picsm1 riad riad riad riad ."
    "names names names names pic pic"
    "names names names names pic pic"
    ". . . picsm2 . .";
  margin-bottom: 80px;

  @media (max-width: 520px) {
    display: flex;
    flex-direction: column;
  }

  li {
    width: 33.33333%;
  }
}

.riad-right-long {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 160px 160px 160px 160px;
  grid-template-areas:
    ". picsm1 riad riad riad riad"
    "pic pic names names names ."
    "pic pic names names names ."
    ". . names names names picsm2";
  margin-bottom: 80px;

  @media (max-width: 520px) {
    display: flex;
    flex-direction: column;
  }

  li {
    width: 50%;
  }
}

.pic {
  grid-area: pic;

  @media (max-width: 520px) {
    height: 188px;
  }
}

.pic-xs-1 {
  grid-area: picsm1;

  @media (max-width: 520px) {
    display: none;
  }
}

.pic-xs-2 {
  grid-area: picsm2;

  @media (max-width: 520px) {
    display: none;
  }
}

.names {
  grid-area: names;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  background-color: #e8ddcd;

  h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 26px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      font-size: 16px;
      margin-bottom: 10px;

      @media (max-width: 520px) {
        width: 100%;
      }
    }
  }
}

.riad {
  grid-area: riad;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;

  h3 {
    position: absolute;
    margin: 5px 0 0;
    top: 20px;
    width: 420px;
    font-size: 27px;
    text-align: left;
    color: white;

    @media (max-width: 520px) {
      position: relative;
      width: auto;
      margin-bottom: -20px;
      top: -40px;
    }

    span {
      background: #333;
      padding: 4px 10px;
      box-decoration-break: clone;

      i {
        font-weight: 200;
      }
    }
  }
}

.marker {
  display: flex;
  align-item: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  width: 20px;
  color: white;
  background-color: red;
  border: 2px solid white;
}

.address {
  grid-area: address;
}