header {
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 160px 160px 160px 160px 80px;
  grid-template-areas:
    ". . . . . third . ."
    ". . logo cover cover cover date . "
    ". pic pic cover cover cover second . "
    ". pic pic title title . . ."
    ". . . . . . . . ";

  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
  }
}

.item-a {
  grid-area: cover;

  @media (max-width: 720px) {
    margin-top: 20px;
    height: 235px;
  }
}

.item-b {
  grid-area: pic;

  @media (max-width: 720px) {
    display: none;
  }
}

.item-c {
  grid-area: logo;
  position: relative;

  img {
    position: absolute;
    padding: 20px;
    top: 0;
    max-width: 120px;

    @media (max-width: 720px) {
      max-width: 100px;
      right: 25px;
      top: -69px;
    }

    @media (max-width: 320px) {
      max-width: 90px;
      right: -6px;
      top: -59px;
    }
  }
}

.item-d {
  grid-area: second;

  @media (max-width: 720px) {
    display: none;
  }
}

.item-e {
  grid-area: title;


  h1 {
    margin: 5px 0 0;
    padding: 18px;
    width: 420px;
    font-size: 42px;
    text-align: left;
    color: white;

    @media (max-width: 720px) {
      padding: 20px 0;
      width: auto;
      font-size: 32px;
    }

    @media (max-width: 320px) {
      font-size: 30px;
    }

    span {
      background: #333;
      padding: 4px 10px;
      box-decoration-break: clone;

      i {
        font-weight: 200;
      }
    }
  }
}

.item-f {
  grid-area: third;

  @media (max-width: 720px) {
    display: none;
  }
}

.item-g {
  grid-area: date;

  i {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 10px;
    margin: 0;
    font-size: 19px;
    font-weight: 200;
    font-style: normal;
    box-sizing: border-box;

    @media (max-width: 720px) {
      padding: 10px 0;
    }
  }
}