header {
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1fr minmax(max-content, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 160px 160px 160px 160px 80px;
  grid-template-areas:
    ". . . . . third . ."
    ". . logo cover cover cover date . "
    ". pic pic cover cover cover second . "
    ". pic pic title title . . ."
    ". . . . . . . . ";

  @media (max-width: 720px) {
    grid-template-areas:
      "logo . . . . . . ."
      ". cover cover cover cover cover cover . "
      ". cover cover cover cover cover cover date "
      ". title title title title title . ."
      ". . . . . . . . ";
  }
}

.item-a {
  grid-area: cover;
}

.item-b {
  grid-area: pic;
}

.item-c {
  grid-area: logo;
  position: relative;

  img {
    position: absolute;
    padding: 20px;
    top: 0;
    max-width: 120px;
  }
}

.item-d {
  grid-area: second;
}

.item-e {
  grid-area: title;


  h1 {
    margin: 5px 0 0;
    padding: 18px;
    width: 420px;
    font-size: 42px;
    text-align: left;
    color: white;

    span {
      background: #333;
      padding: 4px 10px;
      box-decoration-break: clone;

      i {
        font-weight: 200;
      }
    }
  }
}

.item-f {
  grid-area: third;
}

.item-g {
  grid-area: date;

  i {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 10px;
    margin: 0;
    font-size: 19px;
    font-weight: 200;
    font-style: normal;
    box-sizing: border-box;
  }
}