.content {
  position: relative;
  margin: 0 auto;
  max-width: 960px;

  article {
    display: flex;
    font-size: 18px;
    line-height: 1.6em;

    @media (max-width: 720px) {
      flex-direction: column;
    }

    p {
      width: 45%;

      @media (max-width: 720px) {
        width: 100%;
      }
    }

    p:first-child {
      margin-right: 5%;

      @media (max-width: 720px) {
        margin-right: 0;
      }
    }

    p:last-child {
      margin-left: 5%;

      @media (max-width: 720px) {
        margin-left: 0;
      }
    }
  }
}