section.tips {
  margin: 0 auto 60px;
  max-width: 960px;

  .tips-wrapper {
    display: flex;
    width: 100%;

    @media (max-width: 520px) {
      flex-direction: column;
    }
  }

  .tips-category {
    width: 45%;

    @media (max-width: 520px) {
      width: 100%;
      margin: 0 !important;
      font-size: 18px;
    }

    li {
      margin-bottom: 20px;
    }
  }

  .tips-category:nth-child(even) {
    margin-left: 5%;
  }

  .tips-category:nth-child(odd) {
    margin-right: 5%;
  }
}

section.content {
  margin-bottom: 90px;

  @media (max-width: 520px) {
    margin-bottom: 60px;
  }
}